.u-mt-30{
  margin-top: 30px;
}
.u-mt-70{
  margin-top: 70px;
}
.warning-msg{
  color: red;
}
.success-msg{
  color: green;
}

/* Q1 */
#showbox{
  height: 80px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;

}
.image-box img{
  width: 100%;
}
.image-box{
  margin-top: 30px;
}
#warning{
  color: red;
}


/* Q2 */
#display-gender{

  font-size: 200px;
  width: 100%;
  text-align: center;
}
.male:after{
  content: "男";
}
.female:after{
  content: "女"
}

/* Q4 */
#todo_body>tr>td.task_done{
  color: #a0a122;
}

/* Q5 */
#todo_body>tr>td{
  color: green;
}
#todo_body>tr>td.urgent{
  color: red;
}